<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a class="btn btn-lg btn-success" ng-click="startACall()" role="button">Make a call</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <h3 class="text-muted"> <h2>Your number is: {{client}}</h2></h3>
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6 metrics">
                <h4>Metrics window</h4>
                <canvas id="line" class="chart chart-line" data="data"
                        labels="labels" legend="true" series="series"
                        click="onClick">
                </canvas>
            </div>
            <div class="col-md-6 chat-window">
                <h4>Chat window</h4>
                <div class='chat-messages' ng-repeat="message in messages">
                    <span ng-show="message.channel == client">You: </span>
                    <span  ng-show="message.channel != client">{{message.channel}}:</span>
                    {{message.message}}
                </div>
            </div>
        </div>
    </div>

<div ng-include = "'views/modalTemplate.html'"></div>
<div ng-include = "'views/acceptModal.html'"></div>
<div ng-include = "'views/inviteModal.html'"></div>
<div ng-include = "'views/rejectModal.html'"></div>
</div> <!-- /container -->
<div class="container">
<div class="chat-row row">
    <form>
      <input class="chat-input" type="text" ng-model="text" placeholder="Say:"/>
     <input class="chat-submit" type="submit" ng-click="sendMessage()"/>
 </form>

</div>
</div>